@model IEnumerable<DrumkitStore.Models.Drumkit>


<h2>Dostępne paczki dźwięków</h2>

@if (TempData["ErrorMessage"] != null)
{
    <div class="alert alert-danger">
        @TempData["ErrorMessage"]
    </div>
}

<table class="table">
    <thead>
        <tr>
            <th>Nazwa</th>
            <th>Cena</th>
            <th>Kategoria</th>
            <th>Akcje</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@item.Nazwa</td>
                <td>@item.Cena</td>
                <td>@item.Kategoria?.Nazwa</td>
                <td>
                    @if (User.Identity.IsAuthenticated)
                    {
                        <a href="@Url.Action("Kup", "Drumkits", new { id = item.Id })" class="btn btn-success">Kup</a>
                    }
                    else
                    {
                        <a href="@Url.Action("Login", "Account", new { returnUrl = Url.Action("Kup", "Drumkits", new { id = item.Id }) })" class="btn btn-success">Kup</a>
                    }
                    @if (User.IsInRole("Admin"))
                    {
                        <a href="@Url.Action("Edit", "Drumkits", new { id = item.Id })" class="btn btn-primary">Edytuj</a>

                        <a href="@Url.Action("Delete", "Drumkits", new { id = item.Id })" class="btn btn-danger">Usuń</a>
                    }

                </td>
            </tr>
        }
    </tbody>
</table>

@if (User.IsInRole("Admin"))
{
    <a href="@Url.Action("Create", "Drumkits")" class="btn btn-warning mb-3">Dodaj nową Paczkę Dźwięków</a>
}